<%- include('partials/header') %>

<style>
  #rowMestra {
    max-width: 99%;
    margin-left: 1%
  }

  #titulo {
    text-align: center;
  }

  .validadeInput {
    width: 222px;
    height: 58px;
  }

  #validadeDescritivo {
    font-size: 14px;
    padding-top: 0;
    padding-left: 2px;
  }

  .validadeDiv {
    border-color: gray;
    background-clip: padding-box;
    opacity: .50;
  }
</style>

<form action="/cadastroproduto" method="post">
  <div class="row" id='rowMestra'>
    <div class="row" id='descritivoCadastro'>
      <div class="col-lg-12 mt-2" id='titulo'>
        <h3 class='descritivoCadastro'>Cadastro de Produto</h3>
      </div>
    </div>
    <div class="row" id='rowTerceira'>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="descricaoInput" name='descri' required>
          <label for="descricaoInput">Descrição:</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="codigoInput" name='codigo' required>
          <label for="codigoInput">Código:</label>
        </div>
      </div>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="eanInput" type="number" name='ean'>
          <label for="eanInput">EAN:</label>
        </div>
      </div>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="caInput" type="number" name='ca'>
          <label for="caInput">CA:</label>
        </div>
      </div>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="ncmInput" type="number" name='ncm' required>
          <label for="ncmInput">NCM:</label>
        </div>
      </div>
    </div>
    <div class="row mt-2" id='rowOitava'>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="estoqueminInput" type='number'>
          <label for="estoqueminInput">Estoque Mínimo:</label>
        </div>
      </div>
      <div class="col-lg">
        <div class="form-floating">
          <input class="form-control" id="estoquemaxInput" type='number'>
          <label for="estoquemaxInput">Estoque Máximo:</label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" id='botaoSalva' class="btn btn-success mt-2" style='margin-left: 50%;'>Salvar</button>
</form>


<%- include('partials/footer') %>
